
body {
    margin: 0;
    padding: 8px;
    background-color: #D7E6FA;

}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}
.container {
    justify-content: center;
    border: 9px #EBD7FA solid;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.pixel {
    background-color: white;
    height: 4px;
    width: 4px;
}

.painted {
    background-color: black;
}

.gap {
    gap: 4px;
}

.button {
    background-color: #DAD7FA;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    width: 4vw;
}

.button:hover {
    background-color: #D7F8FA;
}

.button:active {
    background-color: #DAD7FA;
}

.red {
    color:red;
    background-color: red;
}

.orange {
    color: orange;
    background-color: orange;
}

.yellow {
    color: yellow;
    background-color: yellow;
}

.green {
    color: green;
    background-color: green;
}

.blue {
    color:blue;
    background-color: blue;
}

.indigo {
    color: indigo;
    background-color: indigo;
}

.violet {
    color: violet;
    background-color: violet;
}

.black {
    color: black;
    background-color: black;
}

.white {
    color: white;
    background-color: white;
}
