
body {
    margin: 0;
    padding: 8px;
    background-color: #D7E6FA;

}

.flex {
    display: flex;
}

.container {
    justify-content: center;
    border: 9px #EBD7FA solid;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.pixel {
    background-color: white;
    height: 4px;
    width: 4px;
}

.pixel:hover {
    background-color: black;
}

.painted {
    background-color: black;
}

.gap {
    gap: 4px;
}

.button {
    background-color: #EBD7FA;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

.button:hover {
    background-color: #FAD7F8;
}

.button:active {
    background-color: #EBD7FA;
}